## Example notebook to demonstrate how to use the various implementation of the DataSource interface
including: 
1) YahooFinanceDB
2) YahooFinanceAPI

In [1]:
import pandas as pd
import utils.data.source

### Hitting YahooFinance API

In [2]:
yf_api = utils.data.source.YahooFinanceAPI(enable_cache=True)
df = yf_api.load_timeseries(tuple(['^SPX', '0001.HK', '^VIX', '^MOVE', '^990100-USD-STRD']),
                       # fld='Close', 
                        fld='Close',
                        start=pd.Timestamp(2024,12,31),
                        end=pd.Timestamp(2025, 3, 12))
df.tail(10)

                   ^SPX    0001.HK       ^VIX       ^MOVE  ^990100-USD-STRD
DATE
2025-02-27  5861.569824  39.549999  21.129999   96.269997       3767.399902
2025-02-28  5954.500000  38.849998  19.629999  104.459999       3805.300049
2025-03-03  5849.720215  39.150002  22.780001  105.650002       3770.300049
2025-03-04  5778.149902  38.650002  23.510000  108.870003       3724.699951
2025-03-05  5842.629883  47.099998  21.930000  104.320000       3777.600098
2025-03-06  5738.520020  51.549999  24.870001  108.949997       3730.899902
2025-03-07  5770.200195  49.500000  23.370001  104.410004       3740.399902
2025-03-10  5614.560059  49.599998  27.860001  112.500000       3651.500000
2025-03-11  5572.069824  49.950001  26.920000  114.599998       3623.199951
2025-03-12  5599.299805  49.349998  24.230000  104.110001       3643.000000

In [3]:
df = yf_api.load_timeseries(tuple(['ADA-USD']),
                        fld=None,
                        start=pd.Timestamp(2024,12,31),
                        end=pd.Timestamp(2025, 2, 28))
df.tail(5)

TICKER       ADA-USD                                                      \
FIELD           Open      High       Low     Close      Volume Dividends
DATE
2025-02-24  0.770040  0.775589  0.680667  0.682202   960897545       0.0
2025-02-25  0.682212  0.693038  0.633811  0.682582  1317817123       0.0
2025-02-26  0.682586  0.693577  0.634982  0.645038   869010894       0.0
2025-02-27  0.645053  0.678109  0.628422  0.645585   683537664       0.0
2025-02-28  0.645581  0.645610  0.582188  0.633051  1102255137       0.0

TICKER
FIELD      Stock Splits
DATE
2025-02-24          0.0
2025-02-25          0.0
2025-02-26          0.0
2025-02-27          0.0
2025-02-28          0.0

In [4]:
df = yf_api.load_timeseries(tuple(['NVDA', 'AAPL', 'MSFT']),
                        fld='Close', 
                        start=pd.Timestamp(2024,12,31),
                        end=pd.Timestamp(2025, 1, 10))
df.head()

                  NVDA        AAPL        MSFT
DATE
2024-12-31  134.277649  250.144974  420.656525
2025-01-02  138.297272  243.582199  417.742371
2025-01-03  144.456711  243.092728  422.502838
2025-01-06  149.416245  244.730927  426.993835
2025-01-07  140.127106  241.944000  421.524780

In [5]:
yf_api.load_info(tuple(['NVDA', 'AAPL', 'MSFT']))

,NVDA,AAPL,MSFT
address1,2788 San Tomas Expressway,One Apple Park Way,One Microsoft Way
city,Santa Clara,Cupertino,Redmond
state,CA,CA,WA
zip,95051,95014,98052-6399
country,United States,United States,United States
...,...,...,...
postMarketChange,-0.209496,0.270004,0.380005
regularMarketChange,-3.064995,2.664993,-3.829987
regularMarketDayRange,100.05 - 104.47,194.42 - 198.8335,366.89 - 374.3215
displayName,NVIDIA,Apple,Microsoft
trailingPegRatio,1.0345,1.8281,1.6816

### Hitting internally onboarded YahooFinance data

In [9]:
yf_db = utils.data.source.YahooFinanceDB(enable_cache=False)

df = yf_db.load_timeseries(tuple(['^VIX', '^FTSE', '^MOVE', '^990100-USD-STRD']),
                           fld='Close',
                           start=pd.Timestamp(2024,12,31),
                           end=pd.Timestamp(2025, 4, 20))
df.tail(5)

TICKER      ^990100-USD-STRD
DATE
2025-02-24       3828.199951
2025-02-25       3814.399902
2025-02-26       3821.000000
2025-02-27       3767.399902
2025-02-28       3805.300049

In [7]:
df = yf_db.load_info(tuple(['^VIX',  '^FTSE', '^MOVE', '^990100-USD-STRD']))
df.loc['longName']

TICKER
^990100-USD-STRD               MSCI WORLD
^FTSE                            FTSE 100
^MOVE               ICE BofAML MOVE Index
^VIX                CBOE Volatility Index
Name: longName, dtype: object

In [8]:
df.tail(5)

TICKER,^990100-USD-STRD,^FTSE,^MOVE,^VIX
FIELD,,,,
region,US,US,US,US
shortName,MSCI WORLD,FTSE 100,ICE BofAML MOVE Index,CBOE Volatility Index
symbol,^990100-USD-STRD,^FTSE,^MOVE,^VIX
typeDisp,Index,Index,Index,Index
underlyingSymbol,NaN,NaN,NaN,NaN